body {
    background: url(a10.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    min-height: 80vh; 
    width: 80%; 
    display: flex; 
    background-position:center; 
    border-radius: 4px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid blue; 
    backdrop-filter: blur(35px); 
}

input[type="text"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.record-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
